TEST_VAR = "test environment variable"

# # The syntax of `.env` files supported by python-dotenv is similar to that of
# Bash:
# ```bash
# # Development settings
# DOMAIN=example.org
# ADMIN_EMAIL=admin@${DOMAIN}
# ROOT_URL=${DOMAIN}/app
# ```
# If you use variables in values, ensure they are surrounded with `{` and `}`,
# like `${DOMAIN}`, as bare variables such as `$DOMAIN` are not expanded.
# Keys can be unquoted or single-quoted. 
# Values can be unquoted, single- or double-quoted. 
# Spaces before and after keys, equal signs, and values are ignored. 
# Values can be followed by a comment. 
# Lines can start with the export directive, which does not affect their interpretation.
# It is possible for single- or double-quoted values to span multiple lines. 
# The following examples are equivalent:
# ```bash
# FOO="first line
# second line"
# ```
# ```bash
# FOO="first line\nsecond line"
# ```
# Allowed escape sequences:
# - in single-quoted values: `\\`, `\'`
# - in double-quoted values: `\\`, `\'`, `\"`, `\a`, `\b`, `\f`, `\n`, `\r`, `\t`, `\v`
# A variable can have no value, dotenv_values gives it a value of None, load_dotenv ignores it
# A variable can have an equal sign and nothing after which equates to an empty string for both methods
